*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.loader {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: transparent;
  border: 1.25rem solid rgb(5, 185, 125);
  border-top-color: rgb(0, 69, 46);
  animation: spin 1s linear 0s infinite;
}

/* Animation Keyframes */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Jobs */

.jobs {
  width: 100%;
  height: 100%;
  background-color: burlywood;
  display: flex;
  gap: 4rem;
}

.job-list {
  width: 12.5rem;
  height: 100%;
  background-color: aqua;
}
